# =========================
# DATASETS
# =========================
dataset_raw/
dataset_processed/
dataset_final/
dataset_split/

# =========================
# TRAINED MODELS
# =========================
saved_models/

# =========================
# GENERATED OUTPUTS
# =========================
outputs/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db